.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    background-color: cadetblue;
}

.buttons-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: darkgreen;
    
}
*{
    font-family: 'roboto';
}